html, body {
	margin: 0;
	padding: 0.5rem;
	font-family: 'Play', sans-serif;
	background-color: #1a1a1a;
	color:#01b1e4;
	height: 100%;
}

input {
	background: #1a1a1a;
	color:#01b1e4;
	border: 0;
	border-bottom: 1px solid #01b1e4;
	border-right: 1px solid #01b1e4;padding: 5px;
	border-radius: 0;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	padding: 5px 0;
	margin-top: 5px;
	width: 100%;
}

button {
	background: #707070;
	color: #fff;
	border: 0;
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
	border-radius: 0;
}

button:focus {
	outline: none;
}

p
{
	color:#707070;
}

.blink
{
	text-decoration: blink;
}

